{% extends "layout.html" %}
{% block content %}
<br><br>
<div class="container bg">
  <br>
    <div class="row">
      {% for d in data.items %}
      <div class="col-lg-4">
        <div class="card shadey" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='fish_pics/' + d.image_file) }}" alt="Card image cap" >
            <div class="card-body">
              <div style="display:inline-block; vertical-align:top " >
                <img src="{{ url_for('static', filename='profile_pics/' + d.fish_seller.image_file) }}" alt="64x64" class="mr-2 rounded" style="width: 64px; height: 64px;" data-holder-rendered="true">
              </div>
              <div style="display:inline-block">
                    <h3><strong class="d-block text-dark card-title">{{ d.name }}</strong></h3>
                
                    <a href="{{ url_for('users.user_popup', username=d.fish_seller.username)}}"><i>@{{ d.fish_seller.username }}</i></a>
              </div>
              <hr>
              {% if d.isAvailable %}
            <b>Stock Available <a href="#" class="badge badge-pill badge-success"> New</a></b> <br>
              {% else %}
                <br>
              {% endif %}
              Uploaded : {{d.upload_date.strftime("%d") }} {{d.upload_date.strftime("%b") }} '{{ d.upload_date.strftime("%y")}} {{ d.upload_date.strftime("%a")}} <br>
              Price    : Rs. {{ d.price }}/- per {{ d.unit }} <br>
              Vatta    : Rs. {{d.price_vatta}} per {{d.pc_vatta}} pc <br><br>
              {% if current_user == d.fish_seller %}
                <br><br>
              {% else %}
                <a href="{{ url_for('fishes.new_order', buyername=current_user.username, sellername=d.fish_seller.username, fish=d.id)}}" class="btn btn-outline-primary btn-lg btn-block">Order</a>
              {% endif %}
            </div>
          </div><br>
      </div>
      {% endfor %}
    </div>
</div>
<br><br><br>
<div>
  {% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if data.page == page_num %}
      <a class='btn btn-info mb-4' href="{{url_for('fishes.all_fish', page=page_num)}}">{{page_num}}</a>
    {% else %}
      <a class='btn btn-outline-info mb-4' href="{{url_for('fishes.all_fish', page=page_num)}}">{{page_num}}</a>
    {% endif %}
  {% else %} 
     
  {% endif %}
  {% endfor %}
</div>
<div class="container mycards">
  <div class="card">
    <div class="face face1">
        <div class="content">
            <img src="{{url_for('static', filename='icon.jpeg')}}" alt="" style="width: 64px; height: 64px;">
            <h3>Design</h3>
        </div>
    </div>
    <div class="face face2">
      <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem qui velit porro et</p>
            <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
        <div class="content">
            <img src="{{url_for('static', filename='icon.jpeg')}}" alt="" style="width: 64px; height: 64px;">
            <h3>Code</h3>
        </div>
    </div>
    <div class="face face2">
      <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem qui velit porro et</p>
            <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
        <div class="content">
            <img src="{{url_for('static', filename='icon.jpeg')}}" alt="" style="width: 64px; height: 64px;">
            <h3>Launch</h3>
        </div>
    </div>
    <div class="face face2">
      <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem qui velit porro et</p>
            <a href="#">Read More</a>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

