{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
      {% for d in data.items %}
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ url_for('static', filename='fish_pics/' + d.image_file) }}" alt="Card image cap">
            <div class="card-body">
              <div style="display:inline-block; vertical-align:top " >
                <img src="{{ url_for('static', filename='profile_pics/' + d.fish_seller.image_file) }}" alt="64x64" class="mr-2 rounded" style="width: 64px; height: 64px;" data-holder-rendered="true">
              </div>
              <div style="display:inline-block">
                <button class="btn btn-block text-left" type="button" >
                    <h4><strong class="d-block text-dark card-title">{{ d.name }}</strong></h4>
                  </button>
                <small><i>@{{ d.fish_seller.username }}</i></small>
              </div>
              <hr>
              Uploaded : {{ d.upload_date }} 
              <p class="card-text">{{ d.description }}</p>
              Price    : Rs. {{ d.price }}/- per {{ d.unit }}
              {% if d.isAvailable %}
            <b>Stock Available Now</b>
              {% endif %}
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</div>
 
{% endblock content %}
     <!-- <div class="col-lg-4">
        
        <div class="jumbotron bg media-body shadow-lg p-3 mb-5 rounded">
            <div class="side">
                <img class="rounded-circle avatar"  src="{{ url_for('static', filename='profile_pics/' + d.post_author.image_file) }}" alt="">
            </div>
            <div class="side">
                <h4>
                  <span >
                    <a class="mr-2 text-white user_popup" href="{{ url_for('user_popup', username=d.post_author.username )}}"> {{ d.post_author.username }} </a> 
                  </span>
                    <small class="text-muted text-white"> {{d.date_posted.strftime('%d-%m-%Y')}} </small>
                </h4>                    
             </div> 
            <hr>
            <h3 >  {{d.title}} </h3>
            <p class="article-content text-justify text-white cut-text "> {{ d.content }} </p> 
            <button type="button" class="btn btn-sm btn-outline-dark" ><a class="text-white" href="{{ url_for('post', post_id =d.id )}}">Read More >>></a></button>
           
        </div>
        
      </div> -->
