{% extends "layout.html" %}
{% block content %}
<br><br>
<div class="container">
    <div class="jumbotron bg">
        <form method="POST" action="{{ url_for('fishes.new_fish') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New Fish</legend>
                
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
    
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
    
                    </div>
                    {% else %}
    
                    {{ form.name(class="form-control form-control-lg is-valid") }}
    
                    {% endif %}
    
                </div>
                
                
                <div class="form-group">
                    {{ form.pc_vatta.label(class="form-control-label") }}
                    {% if form.pc_vatta.errors %}
    
                    {{ form.pc_vatta(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.pc_vatta.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
    
                    </div>
                    {% else %}
    
                    {{ form.pc_vatta(class="form-control form-control-lg is-valid") }}
    
                    {% endif %}
    
                </div>
                <div class="form-group">
                    {{ form.price_vatta.label(class="form-control-label") }}
                    {% if form.price_vatta.errors %}
    
                    {{ form.price_vatta(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price_vatta.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
    
                    </div>
                    {% else %}
    
                    {{ form.price_vatta(class="form-control form-control-lg is-valid") }}
    
                    {% endif %}
    
                </div>
    
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
    
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
    
                    </div>
                    {% else %}
    
                    {{ form.price(class="form-control form-control-lg is-valid") }}
    
                    {% endif %}
    
                </div>
                <div>
                    {% for subfield in form.unit %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                </div>
                <div>
                    {% for subfield in form.size %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                </div>
                
            </fieldset>
            <div class="form-check">
                {{ form.isAvailable(class='form-check-input') }}
                {{ form.isAvailable.label(class='form-check-label') }}
            </div>
            <div class="form-group">
                {{ form.picture.label() }} <small>Ideal size (256 x 256) pixel [.jpg, .png exts.]</small>
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    err
                        <span class="text-danger"> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary btn-block")}}
            </div>
            
        </form>
    </div>
</div>
{% endblock content %}