.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .side {
    display: inline-block;
  }

  .cut-text { 
    width : 100px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap; */
  }

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .navbar-custom { 
    background-color: rgb(172, 13, 13); 
} 
.navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: whitesmoke; 
        } 

.navbar-brand{
  font-family: "American Typewriter", serif;
}
        